<nav class="navbar bg-primary navbar-light">
    <a href="/" class="navbar-brand">
        <img src="/img/botao-home.png" alt="Logotipo">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>